body{
 background-color: #3B3B3B;  
  color: white;
  
}

.expenseHeading
{
    padding-left: 30px;
}

.expenseTracker
{
    background-color:#626262;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
   
}

.addExpenseCard p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.expenseAmt{
    color: #9DFF5B;
    font-weight: 700;
}


.addAmt{
    font-weight: 700;
    color: #F4BB4A;
}

#add_expense button{
    background: linear-gradient(90deg, #FF9595 0%, #FF4747 80%, #FF3838 100%);

}

#add_income button{
    background: linear-gradient(90deg, #B5DC52 0%, #89E148 100%);

}
.addExpenseCard button
{

border: 0px;
outline: 0px;
color: white;
border-radius: 20px;
padding: 10px 15px;

}
.addExpenseCard
{

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 10px;
    height: 200px;
    background-color: #9B9B9B;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.viewExpense
{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
}

.viewRecentExpense
{
    /* position:absolute; */
    width: 70%;
    color: #3B3B3B;
    margin-right: 10px;
    border-radius: 10px;
    padding: 20px;
}

.viewTrendingChart
{
    padding: 20px;
    width: 30%;
    margin-left: 10px;

    border-radius: 10px;
    /* position: absolute; */
    color: #3B3B3B;
    /* background-color: white; */

}


@media (max-width:500px)
{
    .expenseTracker
    {
        margin: 5px;
        padding: 5px;
    }
    .viewExpense
    {
        display: block;
        margin: 0px;
        padding: 5px;
        margin-right: 10px;
        /* margin-right: 10px; */
    }
    .viewTrendingChart
    {
        width: 100%;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        display: block;
    }
    .viewRecentExpense
    {
        padding: 5px;
        width: 100%;
        display: block;
    }
}



table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 1px solid black;

}
table tr{
    border-bottom: 1px solid black !important;
}

table tr:last-child{
    border-bottom: none !important;
}